body{
  background-color: #E3D081;
}

.changingLineChart image{
  transition: 0.2s ease-in-out;
}

.changingLineChart image:hover{
  cursor: pointer;
  height: 80px;
}

.barChart{
  background-color: beige;
  padding: 2%;
  margin: 1%;
  margin-top: 3%;
}

.lineChart{
  background-color: beige;
  padding-top: 2%;
  padding-bottom: 2%;
  margin: 1%;
  margin-bottom: 3%;
}

.title{
  margin-bottom: 3%;
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  font-weight: bold;
}

ul{
  width: 23%;;
  text-align: left;
  margin-left: 38%;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  font-style: italic;
}

.lineChart{
  margin-top: 5%;
}

#ShowAllButton{
  color:white;
  background-color: #999999;
  font-size: 16px;
  cursor: pointer;
  padding: 6px;
}

#ShowAllButton:hover{
  background-color: #000000;
  transition-duration: 0.4s;
}
